{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>flask portfolio</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/bg1.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">basics of animation</h5>
                    <p class="card-text">
                        <ol>
                            <li>there are 7 total principles of animation that define movement and effective staging </li>
                            <li>fps refers to the amount of frames shown every second; more frames gives smoother animation, while less frames can give a more sylized feel</li>
                            <li> 2d animation can be done frame-by-frame, where every frame is redrawn, or puppet, where premade assets are moved accross the screen
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/backg2.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">basics of rollerskating</h5>
                    <p class="card-text">
                        <ol>
                            <li>roller skating is all about shifting your weight while maintainting balance</li>
                            <li>for example, when moving forward, you dont place your feet in front of each other like you would while walking; instead you shift your weight from left to right to gain momentum</li>
                            <li>many parts of roller skating, like spinning, turning, jumping, etc, is all about learning where to keep your weight</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='IMG_4662.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">this is my dog simba</h5>
                    <p class="card-text">
                        <ol>
                            <li>he is here because i need another image for this card</li>
                            <li>i love simba he is very cool</li>
                            <li>he ate my airpods but thats ok because hes fluffy</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}